.secondery__header__content {
  opacity: 100%;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 2px 0px #111111;
}
.home {
  margin: 100px 0 0 0;
}
.favorite__products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px 15px 130px 15px;
  gap: 20px;
}
.favorite__empty__text {
  margin: 0 auto;
}
.favorite__product__card {
  max-width: 220px;
}
